<!DOCTYPE html>

<html>



<head>
  <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
      <link rel='icon' href='/img/weather.png'
   
</head>

<body>

<header>
<h1>{{title}}</h1>
    <a href="/">Weather</a>
     <a href="/about">About</a>
    <a href="/help">Help</a>

</header>
<div class="main-content">


